{% extends "layout.html" %}

{% block styles %}
   body
      {
         background-color: antiquewhite;
         color: black;
         padding:1%
      }
   table
      {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      }

   td, th
      {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      }

   tr:nth-child(even)
      {
      background-color: #dddddd;
      }
   button
      {
      font: bold 15px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
      }
{% endblock %}

{% block body %}
<div class="w3-container w3-teal">
   <h1>Wormbin Application Monitor</h1>
   <h1>Data for {{ location }}'s location</h1>
</div>
<button onclick="location.href='/'" type="button">
   Start Page</button>
<button onclick="location.href='/Frank'" type="button">
   Frank</button>
<button onclick="location.href='/Heidi'" type="button">
   Heidi</button>
<button onclick="location.href='/Ester'" type="button">
   Ester</button>
<button onclick="location.href='/Carla'" type="button">
   Carla</button>  
<button onclick="location.href='/Genie'" type="button">
   Genie</button>  
   <table class="table table-hover">
   <tr><th>ID</th>
      <th>Name</th>
      <th>Read_time</th>
      <th>Wormtmp</th>
      <th>TempF</th>
      <th>Humidity</th>
      <th>ba_pressure</th></tr>
   {% for entry in readings %}
   <tr><td>{{ entry.0 }}</td>
      <td>{{ entry.6 }}</td>
      <td>{{ entry.1 }}</td>
      <td>{{ entry.2 }}</td>
      <td>{{ entry.3 }}</td>
      <td>{{ entry.4 }}</td>
      <td>{{ entry.5 }}</td></tr>
   {% endfor %}
   </table>
{% endblock %}