{% extends "layout.html" %}

{% block styles %}
body
{
   background-color: antiquewhite;
   color: black;
   padding:1%
}
table
{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th
{
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
{% endblock %}

{% block body %}
<div class="w3-container w3-teal">
    <h1>Wormbin Application Monitor</h1>
    <h1>Select the sensor to see the data.</h1>
</div>
    <button onclick="location.href='/Frank'" type="button">
        Frank</button>
    <button onclick="location.href='/Heidi'" type="button">
        Heidi</button>
    <button onclick="location.href='/Ester'" type="button">
        Ester</button>
    <button onclick="location.href='/Carla'" type="button">
        Carla</button>  
    <button onclick="location.href='/Genie'" type="button">
        Genie</button>  
    <button onclick="location.href='/static/index.html'" type="button">
        Website</button>
    <button onclick="location.href='/plot'" type="button">
        Regenerate Plots</button>  
<p>Frank: main wormbin (bme280, DS18B20)</p>
<p>Heidi: office back wall floor corner (bme280)</p>
<p>Ester: Outdoor on the corner of the house (bme280)</p>
<p>Carla: (bme180, photoresistor) out of service</p>
<p>Genie: Testbed sensor reports readings every min</p>
<table style="width:100%">
    <tr>
        <th><img src="{{url_for('static', filename='wormbin.jpeg')}}" alt="Pic of wormbin" width="400" height="300"></th>
        <td><img src="{{url_for('static', filename='tempf.png')}}" alt="Temperature F" width="400" height="300"></td>
    </tr>
    <tr>
        <td><img src="{{url_for('static', filename='humidity.png')}}" alt="Humidity" width="400" height="300"></td> 
        <th><img src="{{url_for('static', filename='ba_pressure.png')}}" alt="Barometric Pressure" width="400" height="300"></th>
    </tr>
</table>

{% endblock %}